@import "tailwindcss";

@theme {
  --color-primary: #06f9d0;
  --color-background-light: #EEF6F6;
  --color-background-dark: #0f231f;
  --color-nordic-dark: #19322F;
  --color-nordic-muted: #5C706D;
  --color-mosque: #006655;
  --color-hint-of-green: #D9ECC8;
  --color-clear-day: #EEF6F6;

  --font-display: "SF Pro Display", "Inter", sans-serif;

  --radius-DEFAULT: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;

  --shadow-soft: 0 10px 40px -10px rgba(0,0,0,0.05);
  --shadow-card: 0 4px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
}

@layer utilities {
  .hide-scroll::-webkit-scrollbar {
      display: none;
  }
  .hide-scroll {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

:root {
  --background: var(--color-background-light);
  --foreground: var(--color-nordic-dark);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
